@charset "UTF-8";
.contents{
	margin-top:100px;
}
.namae{ 
	font-size :  60px;
}
.font{
	font-size : 45px;
}
.font2{
	font-size : 50px;
}
.title{
	font-size : 80px;
}
.rui{
	text-align:center;
}

.nav_toggle {
	display: block;
	position: fixed;
	left: 20px;
	top: 55px;
	width: 1.75rem;
	height: 1.5rem;
}
.nav_toggle i {
	display: block;
	width: 75px;
	height: 5px;
	background-color: #333;
	position: absolute;
}

.nav_toggle i:nth-child(1) {
	top: 0;
}

.nav_toggle i:nth-child(2) {
	top: 0;
	bottom:0;
	margin: auto;
}

.nav_toggle i:nth-child(3) {
	bottom: 0;
}

.nav_toggle.show i:nth-child(1) {
	transform: translateY(10px) rotate(-43deg);
}

.nav_toggle.show i:nth-child(2) {
	opacity: 0;
}

.nav_toggle.show i:nth-child(3) {
	transform: translateY(-10px) rotate(45deg);
}

.nav {
	font-size:25px;
	position: fixed;
	top: 10vw;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s;
}

.nav.show {
	opacity: 1;
	visibility: visible;
}