@charset "UTF-8";
.list{ 
	background-color:lightblue;
	font-size :  60px;
	width :300px;
	margin:0px;
	
}
.kaimono{ 
	background-color:#FFABCE;
	font-size :  60px;
	width :300px;
	margin:0px;
}
.button{
	width: 200px;
	height: 80px;
	margin: 0px;
}
.title{
	font-size : 80px;
	margin:0px;
}
.font{
	font-size : 50px;
	margin:0px;
}
.font2{
	font-size : 40px;
	margin:0px;
	
}