@charset "UTF-8";
.contents{
	margin-top:100px;
}
.list{ 
	background-color:lightblue;
	font-size :  60px;
	width :300px;
	text-align: center;
}
.kaimono{ 
	background-color:#FFABCE;
	font-size :  60px;
	width :300px;
	text-align: center;
}
.button{
	width: 200px;
	height: 80px;
}
.button2{
	width: 300px;
	height: 80px;
}
.title{
	text-align:center;
	font-size : 80px;

}
.font{
	font-size : 50px;
}
.font2{
	font-size : 40px;
	
}
.count{
	width: 300px;
	height: 80px;
	font-size :  60px;
	text-align: center;
}
.hyou{
	text-align:center;
}
HTML CSSResult Skip Results Iframe
EDIT ON
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.plmy{
	font-size : 25px;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-border {
  margin-bottom: 12px;
  padding: 0;

  -webkit-transition: all 0.3s;

  transition: all 0.3s;

  border-radius: 0;
}

a.btn-border span {
  position: relative;

  display: block;

  padding: 1.25rem 3rem;

  color: #000;
  border: 2px solid #000;
  border-radius: 0.5rem;
  background: #fff;
}

a.btn-border:before {
  position: absolute;
  bottom: -8px;
  left: 0;

  display: block;

  width: 100%;
  height: 14px;

  content: "";
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  border: 2px solid #000;
  border-top: 1px solid #000;
  border-radius: 0 0 0.5rem 0.5rem;
  background-image: -webkit-repeating-linear-gradient(
    135deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-image: repeating-linear-gradient(
    -45deg,
    #000,
    #000 1px,
    transparent 2px,
    transparent 5px
  );
  background-size: 7px 7px;

  -webkit-backface-visibility: hidden;

  backface-visibility: hidden;
}


a.btn-border:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
}

a.btn-border:hover:before {
  bottom: -5px;
}

a.btn-border:active {
  -webkit-transform: translate(0, 7px);
  transform: translate(0, 7px);
}

a.btn-border:active:before {
  bottom: -1px;
}
/*ハンバーガーメニュー↓*/
.nav_toggle {
	display: block;
	position: fixed;
	left: 20px;
	top: 55px;
	width: 1.75rem;
	height: 1.5rem;
}
.nav_toggle i {
	display: block;
	width: 75px;
	height: 5px;
	background-color: #333;
	position: absolute;
}

.nav_toggle i:nth-child(1) {
	top: 10px;
	left: 20px;
}

.nav_toggle i:nth-child(2) {
	top: 35px;
	left: 20px;
	
}

.nav_toggle i:nth-child(3) {
	top: 60px;
	left: 20px;
}

.nav_toggle.show i:nth-child(1) {
	transform: translateY(17px) rotate(-43deg);
}

.nav_toggle.show i:nth-child(2) {
	opacity: 0;
}

.nav_toggle.show i:nth-child(3) {
	transform: translateY(-31.5px) rotate(45.2deg);
}

.nav {
	width:170px;
	height:150px;
	background-color:#eeeeeeee;
	font-size:25px;
	position: fixed;
	top: 10vw;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s;
}

.nav.show {
	opacity: 1;
	visibility: visible;
}