@charset "utf-8";

input[type="radio"] {
  display: none;
}

.login{
	width: 100px;
}

.gamen{
	font-size: 50px;
}


.btn--white,
a.btn--white {
  color:#000;
  background:#fff;
  border: 1px solid #000;
}