@charset "utf-8";

input[type="radio"] {
  display: none;
}

.logout{
	width: 100px;
}

.gamen{
	font-size: 50px;
}

/*ハンバーガーメニュー↓*/
.nav_toggle {
	display: block;
	position: fixed;
	left: 20px;
	top: 55px;
	width: 1.75rem;
	height: 1.5rem;
}
.nav_toggle i {
	display: block;
	width: 75px;
	height: 5px;
	background-color: #333;
	position: absolute;
}

.nav_toggle i:nth-child(1) {
	top: 10px;
	left: 20px;
}

.nav_toggle i:nth-child(2) {
	top: 35px;
	left: 20px;
	
}

.nav_toggle i:nth-child(3) {
	top: 60px;
	left: 20px;
}

.nav_toggle.show i:nth-child(1) {
	transform: translateY(17px) rotate(-43deg);
}

.nav_toggle.show i:nth-child(2) {
	opacity: 0;
}

.nav_toggle.show i:nth-child(3) {
	transform: translateY(-31.5px) rotate(45.2deg);
}

.nav {
	font-size:25px;
	position: fixed;
	top: 10vw;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 1rem;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s, visibility .5s;
}

.nav.show {
	opacity: 1;
	visibility: visible;
}